.product-search {
    padding: 3px 20px 3px 20px;

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }

    .flex-item:nth-child(1) {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        margin-top: 8px;
    }

    .flex-item:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .flex-item:nth-child(3) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 12px;
    }
}

hr {
    border: 0;
    height: 0;
}

// temp rules, remove:
.product-info {
    min-height: 160px;
    padding: 20px;
}

/*.wrapper {
    min-height: 500px;
}*/