.floating-box {
    float: left;
    width: 200px;
    height: 30px;
    margin: 20px;
    padding: auto;
    border: none;
}

.after-box {
    float: left;
    clear: left;
    width: 90%;
    height: 80px;
    margin-right: 80px;
    border: 1px solid black;
}
.hidden {
    display: none;
}
.box {
    float: left;
    width: 270px;
    height: 150px;
    margin: 10px;
    border: 2px solid black;
}
.inside-box {
    clear: left;
}

