.view {

    h1, h2 {
        margin: 16px auto 8px 10px;
        font-weight: 400;
    }

    .wrapper {
        // border: 1px solid #ddd;
        // box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 6px, rgba(0, 0, 0, 0.05) 0px 1px 4px;
        // margin: 10px 0 15px 5px;
        margin: 10px 0 0 0;
        // background-color: #fff;
        padding: 0;
    }

    .full-width-block {
        border-radius: 0 !important;
        margin: 10px 1px 15px 0;
    }
}

.contents {
    border-radius: 0 !important;
    margin: 0 0 16px 0;
    background-color: #fff;
    padding: 10px 20px 20px 20px !important;
    min-height: 250px;
}
