form {
    .section {
        margin: 0 0 30px 0;
        column-count: 2;
    }

    .field {
        margin: 0 16px 0 16px;

        .checkbox {
            margin-top: 30px;

            label {
                color: rgba(0, 0, 0, 0.3) !important;
            }
        }

        textarea {
            background-color: rgba(0,0,0,0.02) !important;
        }

        input {
            // background-color: rgba(0,0,0,0.02) !important;
            // height: 28px !important;
            // top: 18px;
        }
    }

    .inline-field {
        margin-top: 24px;
        display: inline-block;
    }

    .subheader {
        margin-bottom: -20px;
    }

    .button-block {
        margin: 15px 15px 15px 15px;
        text-align: right;

        > div {
            margin-left: 16px;
        }
    }
}
