.center {
    margin: auto;
    width: 20%;
    border: 1px solid #73AD21;
    padding: 30px;
    background-color: honeydew;

}
.center Button {
    margin: fill;
    padding: 10px;
    background-color: blue;
}
.error {
    border-bottom: 1px solid red

}